.lesson {
  background-color: lemonchiffon;
}

.title {
  color: darkblue; font-size: small;
}

#email {
  background-color: goldenrod;
}

#github {
  background-color: lightsteelblue;
}

#portfolio {
  background-color: darkorange; font-family: Georgia, 'Times New Roman', Times, serif;
}
body {font-size: xx-large;}

